# Node modules
node_modules/

# Environment variables
.env

# Log files
*.log

# TypeScript build info
*.tsbuildinfo

# Optional: IDE/editor configs
.vscode/
.DS_Store

#text file
todo.txt

#dist
dist